<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    
    <!--Full path to training set-->       
    <add key="TrainingSetPath" value="C:\coding\ml\data\netflix_data\TrainingRatings.txt"/> 
    
    <!--Full path to training set-->       
    <add key="TestingSetPath" value="C:\coding\ml\data\netflix_data\TestingRatings.txt"/>
    
    <!--Full path to movie title file-->   
    <add key="MovieTitlesPath" value="C:\coding\ml\data\netflix_data\movie_titles.txt"/>
    
    <!--Max number of prediction to make-->
    <add key="MaxPredictions" value="0"/>
    
    <!--Which mode: predict or rank-->     
    <add key="PredictOrRank" value="predict"/>
    
    <!--If ranking then for which userId-->
    <add key="RankForUser" value="-1"/>
  
  </appSettings>

  <!--Uncomment this and comment out the above settings for the rankings-->
  <!--<appSettings>   
    <add key="TrainingSetPath" value="C:\coding\ml\data\netflix_data\ExtraCreditTrainingRatings.txt"/> 
    <add key="TestingSetPath" value="C:\coding\ml\data\netflix_data\TestingRatings.txt"/>
    <add key="MovieTitlesPath" value="C:\coding\ml\data\netflix_data\movie_titles.txt"/>
    <add key="MaxPredictions" value="50"/>
    <add key="PredictOrRank" value="rank"/>
    <add key="RankForUser" value="-1"/>
  </appSettings>-->

</configuration>